.servicesnamec1{
    display: flex;
    flex-direction: column;
    width: 176px;
}
.servicesslectedc1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Adjust column width as needed */
    gap: 2px;
    align-items: start; /* Align items at the start of each grid cell */
    width: 927px;
}
.upload-btn1{
    display: inline-block;
    padding: 8px 16px;
    background-color: #E6E6E6;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    text-align: center;
    display: flex;
    width: 137px;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    justify-content: center;
    align-items: center;
}
.switchc1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.servicessave{
    background-color: black;
    border-radius: 50px;
    color: white;
    height: 32px;

}
.servicesc1{
    display: flex;
    justify-content: space-between;
}