.airportc1{
    width: 100%;
    text-align: left;
    margin-right: 20px;

}
.checkbox1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 32px;
    border-right-width: 0px;
}
.allairports1{
    width: 900px;
    border-left-width: 0px;
    border-right-width: 0px;
    
}
.country1{
    width: 161px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.code1{
    width: 95px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.terminals1{
    width: 95px;
    border-left-width: 0px;
    text-align: right;
    padding-right: 10px;
    
}
.write{
    width: 32px;
    height: 32px;
    border-width: 0px;
    text-align: center;
}
.delete{
    width: 32px;
    height: 32px;
    border-width: 0px;

}
.airportheading{
    font-size: 22px;
    font-weight: 700;
    
}
.airportbuttonaddnew{
    background-color: black;
    border-radius: 50px;
    color: white;
    width: 96px;
    height: 32px;
}
.airportheadingc1{
    display: flex;
    justify-content: space-between;
}
td{
border: 1px solid #D5D5D5;
min-width: 50px;
}
table{
    border-spacing: 0px;
}